body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

input {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#results {
    text-align: center;
    margin-top: 20px;
}

canvas {
    display: block;
    margin: 30px auto;
    max-width: 600px;
}
